<!-- @@master = ../layouts/default.html-->

<!-- @@block = content -->

<!-- @@include ../layouts/_header.html -->
<div id="loading">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

<div class="wrapper">
    <section id="kv">
        <div class="kvSlick">
            <div class="slider1"></div>
        </div>
        <div class="slogan">
            <div class="sloganTxt"><img src="assets/images/slogan.png" alt=""></div>
            <div class="letsGo">
                <a href="javascript:;"><img src="assets/images/letsGo.png" alt=""></a>
            </div>
        </div>
        <div class="evaCity"><img src="assets/images/evaCity.svg" alt=""></div>
    </section>
    <section class="containerBg">
        <div class="flightInformation">
            <div class="container">
                <h1>
                    <div class="yellowWave wave"></div>
                    <div class="blueWave wave"></div>
                    <img src="../../assets/images/flightInfoTitle.png" alt="">
                </h1>
                <div class="flightInfoSlick">
                    <div class="slider1"></div>
                    <div class="slider2"></div>
                    <div class="slider3"></div>
                    <div class="slider4"></div>
                    <div class="slider5"></div>
                    <div class="slider6"></div>
                    <div class="slider7"></div>
                    <div class="slider8"></div>
                    <div class="slider9"></div>
                    <div class="slider10"></div>
                    <div class="slider11"></div>
                    <div class="slider12"></div>
                </div>
                <h2>
                    <img src="../../assets/images/flightInfoTitle2.png" alt="">
                </h2>
                <p>長榮航空為了讓旅客享有更舒適的飛行經驗，布里斯本航線自12月1日起，將由 A330-200機型改為更舒適的A330-300機型飛航，A330-300機型除了座位數 更多外，最大的特色是【桂冠艙】採用超大型全伸展電動座椅，以單排2-2-2座 椅配置搭配61~62英吋超長椅距與超越一般頭等艙的座椅寬度，再加上符合人體 工學的貼心設計，即便是長程飛行，身體亦能保持最佳狀態。
                </p>
                <ul class="flightInfoBtn">
                    <li class="btn"><a href="javascript:;">‧ A330-300 ‧<br>了解更多</a></li>
                    <li class="btn"><a href="javascript:;">‧ 桂冠艙 ‧<br>了解更多</a></li>
                </ul>
            </div>
        </div>
        <div class="stroke">
            <div class="container">
                <h1>
                    <div class="yellowWave wave"></div>
                    <div class="blueWave wave"></div>
                    <img src="../../assets/images/strokeTitle.png" alt="">
                </h1>
                <ul class="strokeList">
                    <li class="strokeItem strokeItem1">
                        <a href="javascript:;">
                            <h6>東南旅遊</h6>
                            <p>樂園.酒莊.螢火蟲探秘</p>
                        </a>
                    </li>
                    <li class="strokeItem strokeItem2">
                        <a href="javascript:;">
                            <h6>雄獅旅遊</h6>
                            <p>夢幻世界.無尾熊抱抱.黃金101.品酒.百萬遊艇</p>
                        </a>
                    </li>
                    <li class="strokeItem strokeItem3">
                        <a href="javascript:;">
                            <h6>世邦旅遊</h6>
                            <p>直升機遨翔天際.圓夢之旅</p>
                        </a>
                    </li>
                    <li class="strokeItem strokeItem4">
                        <a href="javascript:;">
                            <h6>長汎假期</h6>
                            <p>免小費.庫倫賓動物園.螃蟹河.海港城Outlet</p>
                        </a>
                    </li>
                    <li class="strokeItem strokeItem5">
                        <a href="javascript:;">
                            <h6>可樂旅遊</h6>
                            <p>夢幻遊樂園.香漫酒莊.奢華百萬遊艇</p>
                        </a>
                    </li>
                    <li class="strokeItem strokeItem6">
                        <a href="javascript:;">
                            <h6>五福旅遊</h6>
                            <p>世界第三大沙島親手餵食野生海豚趣</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>

<!-- @@close -->


<!-- @@block  =  head-js -->
<!-- index_page1 js -->
<script src="assets/js/main.js"></script>
<!-- @@close -->