@import "base/transform";
.wrapper {
    width: 100%;
    overflow: hidden;
}

#loading {
    width: 100%;
    min-height: 100vh;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 auto;
    top: 50%;
    margin-top: -20px;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #2bbbbe;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    animation: sk-bounce 2s infinite ease-in-out;
    -webkit-animation: sk-bounce 2s infinite ease-in-out;
    -moz-animation: sk-bounce 2s infinite ease-in-out;
    -ms-animation: sk-bounce 2s infinite ease-in-out;
    -o-animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.container {
    width: 100%;
    max-width: 1010px;
    margin: 0 auto;
}

#kv {
    position: relative;
    top: 60px;
    background-color: #ccc;
    @include transition(all 0.3s);
}

.kvSlick,
.slick-list,
.slick-track,
.slick-slide {
    width: 100%;
    height: 100%;
}

.kvSlick {
    .slider1 {
        background: url(../images/kvSlider1.jpg) center center no-repeat;
        background-size: cover;
        &:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: rgba(255, 255, 255, .2);
        }
    }
    .slider2 {
        background: url(../images/kvSlider2.jpg) center center no-repeat;
        background-size: cover;
    }
}

.slogan {
    width: 100%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    @include transform(translate(0, -70%));
    z-index: 3;
    .letsGo {
        width: 70%;
        margin: 10px auto;
        position: relative;
        top: -15px;
        left: -220%;
        transition: all 3s ease;
    }
}

.sloganSvg {
    position: relative;
    filter: drop-shadow(6px 6px 10px #ffffff);
    .sloganWave {
        width: 47%;
        padding-bottom: 12%;
        background: url(../images/sloganWave.svg);
        background-size: auto auto;
        background-position: 0 0;
        background-repeat: repeat-x;
        position: absolute;
        bottom: 19%;
        right: 5%;
        z-index: -1;
        animation: sloganWave 6s linear 0s infinite;
    }
    svg {
        filter: drop-shadow(6px 6px 10px #ffffff);
    }
    .st0 {
        fill: #062A48;
    }
    .st1 {
        fill: #42E8E8;
    }
    .st2 {
        fill: #FFD833;
    }
    .st3 {
        fill: #FFFFFF;
    }
    .st4 {
        fill: #EB6348;
    }
}

.sloganTopLine .st2 {
    opacity: 0;
    // animation-delay: 4s;
    &:nth-child(1) {
        animation: sloganTopLine1 3s ease 3s infinite;
        // animation-delay: 0.5s;
    }
    &:nth-child(2) {
        animation: sloganTopLine2 3s ease 3s infinite;
        // animation-delay: 1s;
    }
    &:nth-child(3) {
        animation: sloganTopLine3 3s ease 3s infinite;
        // animation-delay: 1.5s;
    }
    &:nth-child(4) {
        animation: sloganTopLine4 3s ease 3s infinite;
    }
    &:nth-child(5) {
        animation: sloganTopLine5 3s ease 3s infinite;
    }
    &:nth-child(6) {
        animation: sloganTopLine6 3s ease 3s infinite;
    }
    &:nth-child(7) {
        animation: sloganTopLine7 3s ease 3s infinite;
    }
    &:nth-child(8) {
        animation: sloganTopLine8 3s ease 3s infinite;
    }
    &:nth-child(9) {
        animation: sloganTopLine9 3s ease 3s infinite;
    }
    &:nth-child(10) {
        animation: sloganTopLine10 3s ease 3s infinite;
    }
    &:nth-child(11) {
        animation: sloganTopLine11 3s ease 3s infinite;
    }
    &:nth-child(12) {
        animation: sloganTopLine12 3s ease 3s infinite;
    }
}

@keyframes sloganWave {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -226px 0;
    }
}

@keyframes sloganTopLine1 {
    0% {
        opacity: 0;
    }
    5%,
    100% {
        opacity: 1;
    }
}

@keyframes sloganTopLine2 {
    5% {
        opacity: 0;
    }
    10%,
    100% {
        opacity: 1;
    }
}

@keyframes sloganTopLine3 {
    10% {
        opacity: 0;
    }
    15%,
    100% {
        opacity: 1;
    }
}

@keyframes sloganTopLine4 {
    15% {
        opacity: 0;
    }
    20%,
    100% {
        opacity: 1;
    }
}

@keyframes sloganTopLine5 {
    20% {
        opacity: 0;
    }
    25%,
    100% {
        opacity: 1;
    }
}

@keyframes sloganTopLine6 {
    25% {
        opacity: 0;
    }
    30%,
    100% {
        opacity: 1;
    }
}

@keyframes sloganTopLine7 {
    30% {
        opacity: 0;
    }
    35%,
    100% {
        opacity: 1;
    }
}

@keyframes sloganTopLine8 {
    35% {
        opacity: 0;
    }
    40%,
    100% {
        opacity: 1;
    }
}

@keyframes sloganTopLine9 {
    40% {
        opacity: 0;
    }
    45%,
    100% {
        opacity: 1;
    }
}

@keyframes sloganTopLine10 {
    45% {
        opacity: 0;
    }
    50%,
    100% {
        opacity: 1;
    }
}

@keyframes sloganTopLine11 {
    50% {
        opacity: 0;
    }
    55%,
    100% {
        opacity: 1;
    }
}

@keyframes sloganTopLine12 {
    55% {
        opacity: 0;
    }
    60%,
    100% {
        opacity: 1;
    }
}

.sloganTxt {
    width: 100%;
    transform: scale(0);
    transition: all 0.8s cubic-bezier(0.085, 0.985, 0.260, 1);
}

.sloganTxtScale {
    transform: scale(1);
}

.slogan .letsGoFly {
    left: 0;
}

#letsGoPlan {
    .st0 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FFAA00;
    }
    .st1,
    .stPlan {
        fill: #FFFFFF;
    }
}

.evaCity {
    width: 100%;
    position: absolute;
    bottom: -190px;
    z-index: 2;
    transform: scale(0);
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.085, 0.985, 0.260, 1);
}

.evaCityScale {
    left: 0;
    bottom: -50px;
    transform: scale(1);
    opacity: 1;
}

.containerBg {
    background: url(../images/containerBg.png) top;
    background-size: 100%;
    position: relative;
    z-index: 3;
    margin-top: 77px;
    &:before {
        content: '';
        width: 100%;
        padding-bottom: 20%;
        background: url(../images/topSea.png) top center no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
    }
    &:after {
        content: '';
        width: 100%;
        padding-bottom: 26%;
        background: url(../images/bottomSea.png) bottom center no-repeat;
        background-size: cover;
        position: absolute;
        bottom: 0;
        z-index: -1;
    }
}

.aircraftIntro {
    width: 100%;
    display: block;
    background: url(../images/aircraftIntroBg.png) center center no-repeat;
    background-size: 90%;
    position: relative;
    z-index: 4;
    padding: 10% 0 5% 0;
    h1 {
        width: 90%;
        max-width: 640px;
        margin: 0 auto;
        position: relative;
        margin-bottom: 4.66%;
        .yellowWave {
            top: -75%;
            left: 20%;
        }
        .blueWave {
            top: -42%;
        }
    }
    h2 {
        width: 90%;
        max-width: 800px;
        margin: 0 auto;
        position: relative;
        margin-bottom: 2.66%;
    }
    .aircraftIntroSlick {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 50%;
        margin-bottom: 4.66%;
        position: relative;
        .slick-list {
            position: absolute;
        }
        .slick-slide {
            border-radius: 108px 10px;
        }
        .slider1 {
            background: url(../images/aircraftIntroSlider1.jpg) center center no-repeat;
            background-size: 100%;
        }
        .slider2 {
            background: url(../images/aircraftIntroSlider2.jpg) center center no-repeat;
            background-size: 100%;
        }
        .slider3 {
            background: url(../images/aircraftIntroSlider3.jpg) center center no-repeat;
            background-size: 100%;
        }
        .slider4 {
            background: url(../images/aircraftIntroSlider4.jpg) center center no-repeat;
            background-size: 100%;
        }
        .slider5 {
            background: url(../images/aircraftIntroSlider5.jpg) center center no-repeat;
            background-size: 100%;
        }
        .slider6 {
            background: url(../images/aircraftIntroSlider6.jpg) center center no-repeat;
            background-size: 100%;
        }
        .slider7 {
            background: url(../images/aircraftIntroSlider7.jpg) center center no-repeat;
            background-size: 100%;
        }
        .slider8 {
            background: url(../images/aircraftIntroSlider8.jpg) center center no-repeat;
            background-size: 100%;
        }
        .slider9 {
            background: url(../images/aircraftIntroSlider9.jpg) center center no-repeat;
            background-size: 100%;
        }
        .slider10 {
            background: url(../images/aircraftIntroSlider10.jpg) center center no-repeat;
            background-size: 100%;
        }
        .slider11 {
            background: url(../images/aircraftIntroSlider11.jpg) center center no-repeat;
            background-size: 100%;
        }
        .slider12 {
            background: url(../images/aircraftIntroSlider12.jpg) center center no-repeat;
            background-size: 100%;
        }
    }
    .slick-prev,
    .slick-next {
        width: 32px;
        height: 53px;
    }
    .slick-prev {
        left: -45px;
        background: url(../images/arrowLeft.svg) center center no-repeat;
        background-size: cover;
    }
    .slick-next {
        right: -45px;
        background: url(../images/arrowRight.svg) center center no-repeat;
        background-size: cover;
    }
    p {
        width: 85%;
        margin: 0 auto;
        font-size: 1.5em;
        line-height: 1.44em;
        font-weight: 700;
    }
    .aircraftIntroBtn {
        width: 100%;
        text-align: center;
    }
    .btn {
        display: inline-block;
        background-color: #2bbbbe;
        border-radius: 100px;
        margin: 50px;
        @include transition(all 0.3s);
        @media screen and (min-width: 1025px) {
            &:hover {
                background-color: #54d9dc;
            }
        }
        a {
            display: block;
            font-size: 1.875em;
            line-height: 1.1em;
            font-weight: 700;
            padding: 0.4em 1.2em;
            color: #ffffff;
        }
    }
}

.wave {
    width: 200px;
    padding-bottom: 20px;
    background-size: auto 20px;
    position: absolute;
    background-position: 0 0;
    background-repeat: repeat-x;
}

.yellowWave {
    background-image: url(../images/yellowWave.svg);
    animation: yellowWave 5s linear 0s infinite;
}

.blueWave {
    background-image: url(../images/blueWave.svg);
    animation: blueWave 6s linear 0s infinite;
}

@keyframes yellowWave {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -233px 0;
    }
}

@keyframes blueWave {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -238px 0;
    }
}

.flightInfo {
    width: 100%;
    position: relative;
    padding-bottom: 5%;
    h1,
    h2 {
        width: 90%;
        max-width: 640px;
        margin: 0 auto;
        position: relative;
        margin-top: -3%;
        margin-bottom: 10%;
        .yellowWave {
            bottom: -150%;
            left: 10%;
        }
        .blueWave {
            bottom: -70%;
            left: 18%;
        }
    }
    h2 {
        margin-top: 0;
        margin-bottom: 2.5%;
    }
    .flightInfoForm {
        margin-bottom: 30px;
    }
    .form {
        width: 100%;
        display: block;
        .fTable {
            width: 100%;
            // display: table;
            border-radius: 50px;
            border: 2px solid #2bbbbe;
            background: #ffffff;
            overflow: hidden;
            .fTr {
                // display: table-row;
                display: flex;
                &:nth-child(odd) {
                    background-color: rgba(175, 224, 220, .5);
                }
                &.fThBg {
                    background-color: #2bbbbe !important;
                }
            }
            .fTh,
            .fTd {
                // display: table-cell;
                flex: 1;
                font-size: 1.75em;
                line-height: 1.44em;
                color: #333333;
                text-align: center;
                padding: 0.5em 5px;
                &:nth-child(1) {
                    flex: 1.75;
                }
                &:nth-child(2) {
                    flex: 1.25;
                }
            }
            .fTh {
                color: #ffffff;
            }
            .cOr {
                border-radius: 50%;
                background-color: #ffb400;
                color: #ffffff;
                padding: 0 4.5%;
            }
        }
    }
}

.stroke {
    width: 100%;
    display: block;
    position: relative;
    padding-bottom: 13%;
    h1 {
        width: 90%;
        max-width: 640px;
        margin: 0 auto;
        position: relative;
        margin-top: -8%;
        margin-bottom: 10%;
        .yellowWave {
            bottom: -150%;
            right: 30%;
        }
        .blueWave {
            bottom: -70%;
            right: 20%;
        }
    }
    .strokeList {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        text-align: center;
        .strokeItem {
            padding: 10px 30px;
            background: #062a48;
            font-size: 1.6em;
            font-weight: 700;
            border-radius: 3px;
            @include transition(all 0.3s);
            @media screen and (min-width: 1025px) {
                &:hover {
                    @include transform(scale(1.1));
                }
            }
            h6 {
                color: #ffda00;
                line-height: 2em;
            }
            p {
                color: #ffffff;
                line-height: 1.2em;
            }
        }
    }
}

@media screen and (max-width: 1499px) {
    .slogan {
        max-width: 380px;
        @include transform(translate(0, -60%));
    }
}

@media screen and (max-width: 1249px) {
    #kv {
        top: 40px;
    }
}

@media screen and (max-width: 1024px) {
    .sloganSvg {
        filter: none;
    }
    .slogan {
        max-width: none;
        width: 60%;
    }
    .evaCityScale {
        bottom: 50px;
    }
    .evaCity img {
        @include transform(scale(2));
    }
    .containerBg {
        margin-top: 0;
    }
    .aircraftIntro {
        padding: 20% 0 0 0;
        background-size: auto 80%;
        .aircraftIntroSlick {
            width: 60%;
            .slick-slide {
                border-radius: 0;
            }
        }
    }
    .flightInfo {
        padding-top: 10%;
        h1 {
            margin-top: 0;
        }
        h2 {
            width: 80%;
            max-width: 500px;
        }
        .form {
            width: 90%;
            margin: 0 auto;
            .fTable {
                border-radius: 20px;
                .fTh,
                .fTd {
                    font-size: 1.4em;
                }
            }
        }
    }
    .stroke {
        h1 {
            margin-top: 0;
            margin-bottom: 14%;
        }
        .strokeList {
            width: 80%;
            margin: 0 auto;
            .strokeItem {
                font-size: 1.4em;
                p {
                    line-height: 1.44em;
                }
            }
        }
    }
}

@media screen and (max-width: 990px) {
    .stroke .strokeList {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 767px) {
    .aircraftIntro {
        .aircraftIntroBtn {
            margin: 30px 0;
        }
        .btn {
            width: 90%;
            margin: 10px auto;
            display: block;
            a {
                span.visible-phone {
                    display: inline-block !important;
                }
                br {
                    display: none;
                }
            }
        }
    }
    .flightInfo .form .fTable {
        display: table;
        border-radius: 10px;
        .fTr {
            display: table-row;
        }
        .fTh,
        .fTd {
            display: table-cell;
            vertical-align: middle;
            font-size: 1.2em;
            line-height: 1.1em;
        }
        .cOr {
            padding: 0 5%;
            font-size: 0.9em;
            margin: 2px;
            display: inline-block;
        }
    }
}

@media screen and (max-width: 650px) {
    .containerBg:before,
    .containerBg:after {
        background-size: 200%;
        background-position: left;
        padding-bottom: 40%;
    }
    .slogan {
        width: 80%;
    }
    .evaCityScale {
        bottom: 30px;
    }
    .containerBg {
        margin-top: 20px;
    }
    .wave {
        @include transform(scale(0.55));
    }
    .aircraftIntro {
        .slick-prev,
        .slick-next {
            width: 20px;
            height: 33px;
        }
        p {
            font-size: 1.2em;
        }
        .btn {
            a {
                font-size: 1.6em;
                line-height: 1.2em;
                padding: 0.4em 1.4em;
            }
        }
    }
    .flightInfo h1,
    .flightInfo h2 {
        .blueWave {
            bottom: -91%;
            left: 0;
        }
        .yellowWave {
            left: -10%;
        }
    }
    .stroke {
        padding-bottom: 40%;
        h1 {
            .yellowWave {
                bottom: -170%;
                right: 0;
            }
            .blueWave {
                bottom: -90%;
                right: -10%;
            }
        }
        .strokeList {
            width: 90%;
            grid-template-columns: 1fr;
            .strokeItem {
                font-size: 1.2em;
            }
        }
    }
    .strokeItemBr {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .aircraftIntro {
        .btn {
            border-radius: 44px;
            a {
                font-size: 1.4em;
            }
        }
    }
}

@media screen and (max-width: 370px) {
    .stroke .strokeList .strokeItem {
        min-height: 100px;
    }
    .strokeItemBr {
        display: block;
    }
}