@import "base/transform";
.wrapper {
    width: 100%;
    overflow: hidden;
}

#loading {
    width: 100%;
    background: #ffffff;
    position: fixed;
    top: 0;
    z-index: 999;
}

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 auto;
    top: 50%;
    margin-top: -20px;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #2bbbbe;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    animation: sk-bounce 2s infinite ease-in-out;
    -webkit-animation: sk-bounce 2s infinite ease-in-out;
    -moz-animation: sk-bounce 2s infinite ease-in-out;
    -ms-animation: sk-bounce 2s infinite ease-in-out;
    -o-animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.container {
    width: 100%;
    max-width: 1010px;
    margin: 0 auto;
}

#kv {
    position: relative;
    top: 60px;
    background-color: #ccc;
    @include transition(all 0.3s);
}

.kvSlick,
.slick-list,
.slick-track,
.slick-slide {
    width: 100%;
    height: 100%;
}

.kvSlick {
    .slider1 {
        background: url(../images/kvSlider1.jpg) center center no-repeat;
        background-size: cover;
        &:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: rgba(255, 255, 255, .15);
        }
    }
    .slider2 {
        background: url(../images/kvSlider2.jpg) center center no-repeat;
        background-size: cover;
    }
}

.slogan {
    width: 100%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    @include transform(translate(0, -70%));
    z-index: 3;
    .letsGo {
        width: 70%;
        margin: 0 auto;
        position: relative;
        top: -15px;
        left: -220%;
        transition: all 3s ease;
    }
}

.sloganSvg {
    svg {
        -webkit-filter: drop-shadow(12px 12px 10px rgba(255, 255, 255, 1));
        filter: drop-shadow(12px 12px 10px rgba(255, 255, 255, 1));
    }
    .st0 {
        fill: #062A48;
    }
    .st1 {
        fill: #42E8E8;
    }
    .st2 {
        fill: #FFD833;
    }
    .st3 {
        fill: #FFFFFF;
    }
    .st4 {
        fill: #EB6348;
    }
}

.sloganTxt {
    width: 100%;
    transform: scale(0);
    transition: all 0.8s cubic-bezier(0.085, 0.985, 0.260, 1);
}

.sloganTxtScale {
    transform: scale(1);
}

.slogan .letsGoFly {
    left: 0;
}

.evaCity {
    width: 100%;
    position: absolute;
    bottom: -190px;
    z-index: 2;
    transform: scale(0);
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.085, 0.985, 0.260, 1);
}

.evaCityScale {
    left: 0;
    bottom: -50px;
    transform: scale(1);
    opacity: 1;
}

.containerBg {
    background: url(../images/containerBg.png) center center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 3;
    margin-top: 77px;
    &:before {
        content: '';
        width: 100%;
        padding-bottom: 20%;
        background: url(../images/topSea.png) top center no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
    }
    &:after {
        content: '';
        width: 100%;
        padding-bottom: 26%;
        background: url(../images/bottomSea.png) bottom center no-repeat;
        background-size: cover;
        position: absolute;
        bottom: 0;
        z-index: -1;
    }
}

.flightInformation {
    width: 100%;
    display: block;
    background: url(../images/flightInfoBg.png) center center no-repeat;
    background-size: 90%;
    position: relative;
    z-index: 4;
    padding: 10% 0;
    h1 {
        width: 90%;
        max-width: 640px;
        margin: 0 auto;
        position: relative;
        margin-bottom: 4.66%;
        .yellowWave {
            top: -75%;
            left: 20%;
        }
        .blueWave {
            top: -42%;
        }
    }
    h2 {
        width: 90%;
        max-width: 800px;
        margin: 0 auto;
        position: relative;
        margin-bottom: 2.66%;
    }
    .flightInfoSlick {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 50%;
        margin-bottom: 4.66%;
        position: relative;
        .slick-list {
            position: absolute;
        }
        .slick-slide {
            border-radius: 108px 10px;
        }
        .slider1 {
            background: url(../images/flightInfoSlider1.jpg) center center no-repeat;
            background-size: 100%;
        }
        .slider2 {
            background: url(../images/flightInfoSlider2.jpg) center center no-repeat;
            background-size: 100%;
        }
        .slider3 {
            background: url(../images/flightInfoSlider3.jpg) center center no-repeat;
            background-size: 100%;
        }
        .slider4 {
            background: url(../images/flightInfoSlider4.jpg) center center no-repeat;
            background-size: 100%;
        }
        .slider5 {
            background: url(../images/flightInfoSlider5.jpg) center center no-repeat;
            background-size: 100%;
        }
        .slider6 {
            background: url(../images/flightInfoSlider6.jpg) center center no-repeat;
            background-size: 100%;
        }
        .slider7 {
            background: url(../images/flightInfoSlider7.jpg) center center no-repeat;
            background-size: 100%;
        }
        .slider8 {
            background: url(../images/flightInfoSlider8.jpg) center center no-repeat;
            background-size: 100%;
        }
        .slider9 {
            background: url(../images/flightInfoSlider9.jpg) center center no-repeat;
            background-size: 100%;
        }
        .slider10 {
            background: url(../images/flightInfoSlider10.jpg) center center no-repeat;
            background-size: 100%;
        }
        .slider11 {
            background: url(../images/flightInfoSlider11.jpg) center center no-repeat;
            background-size: 100%;
        }
        .slider12 {
            background: url(../images/flightInfoSlider12.jpg) center center no-repeat;
            background-size: 100%;
        }
    }
    .slick-prev,
    .slick-next {
        width: 32px;
        height: 53px;
    }
    .slick-prev {
        left: -45px;
        background: url(../images/arrowLeft.svg) center center no-repeat;
        background-size: cover;
    }
    .slick-next {
        right: -45px;
        background: url(../images/arrowRight.svg) center center no-repeat;
        background-size: cover;
    }
    p {
        width: 85%;
        margin: 0 auto;
        font-size: 1.5em;
        line-height: 1.44em;
        font-weight: 700;
    }
    .flightInfoBtn {
        width: 100%;
        text-align: center;
    }
    .btn {
        display: inline-block;
        background-color: #2bbbbe;
        border-radius: 100px;
        margin: 50px 20px;
        @include transition(all 0.3s);
        @media screen and (min-width: 1025px) {
            &:hover {
                background-color: #54d9dc;
            }
        }
        a {
            display: block;
            font-size: 1.875em;
            line-height: 1.1em;
            font-weight: 700;
            padding: 0.4em 1.2em;
            color: #ffffff;
        }
    }
}

.wave {
    width: 200px;
    padding-bottom: 20px;
    background-size: auto 20px;
    position: absolute;
    background-position: 0 0;
    background-repeat: repeat-x;
}

.yellowWave {
    background-image: url(../images/yellowWave.svg);
    animation: yellowWave 5s linear 0s infinite;
}

.blueWave {
    background-image: url(../images/blueWave.svg);
    animation: blueWave 6s linear 0s infinite;
}

@keyframes yellowWave {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -233px 0;
    }
}

@keyframes blueWave {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -238px 0;
    }
}

.stroke {
    width: 100%;
    display: block;
    position: relative;
    padding-bottom: 13%;
    h1 {
        width: 90%;
        max-width: 640px;
        margin: 0 auto;
        position: relative;
        margin-top: -8%;
        margin-bottom: 10%;
        .yellowWave {
            bottom: -150%;
            right: 30%;
        }
        .blueWave {
            bottom: -70%;
            right: 20%;
        }
    }
    .strokeList {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        text-align: center;
        .strokeItem {
            padding: 10px 30px;
            background: #062a48;
            font-size: 1.6em;
            font-weight: 700;
            border-radius: 3px;
            @include transition(all 0.3s);
            @media screen and (min-width: 1025px) {
                &:hover {
                    @include transform(scale(1.1));
                }
            }
            h6 {
                color: #ffda00;
                line-height: 2em;
            }
            p {
                color: #ffffff;
                line-height: 1.2em;
            }
        }
    }
}

@media screen and (max-width: 1499px) {
    .slogan {
        max-width: 380px;
        @include transform(translate(0, -60%));
    }
}

@media screen and (max-width: 1249px) {
    #kv {
        top: 40px;
    }
}

@media screen and (max-width: 1024px) {
    .slogan {
        max-width: none;
        width: 60%;
    }
    .evaCityScale {
        bottom: 50px;
    }
    .evaCity img {
        @include transform(scale(2));
    }
    .containerBg {
        margin-top: 0;
    }
    .flightInformation {
        padding: 20% 0 0 0;
        background-size: auto 80%;
        .flightInfoSlick {
            width: 60%;
            .slick-slide {
                border-radius: 0;
            }
        }
    }
    .stroke {
        h1 {
            margin-top: 0;
            margin-bottom: 14%;
        }
        .strokeList {
            width: 80%;
            margin: 0 auto;
            .strokeItem {
                font-size: 1.4em;
                p {
                    line-height: 1.44em;
                }
            }
        }
    }
}

@media screen and (max-width: 990px) {
    .stroke .strokeList {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 650px) {
    .containerBg:before,
    .containerBg:after {
        background-size: 200%;
        background-position: left;
        padding-bottom: 40%;
    }
    .slogan {
        width: 80%;
    }
    .evaCityScale {
        bottom: 30px;
    }
    .containerBg {
        margin-top: 20px;
    }
    .wave {
        @include transform(scale(0.55));
    }
    .flightInformation {
        .slick-prev,
        .slick-next {
            width: 20px;
            height: 33px;
        }
        p {
            font-size: 1.2em;
        }
        .flightInfoBtn {
            margin: 30px 0;
        }
        .btn {
            margin: 0 5px;
            a {
                font-size: 1.6em;
                line-height: 1.2em;
                padding: 0.4em 1.4em;
            }
        }
    }
    .stroke {
        padding-bottom: 40%;
        h1 {
            .yellowWave {
                bottom: -170%;
                right: 0;
            }
            .blueWave {
                bottom: -90%;
                right: -10%;
            }
        }
        .strokeList {
            width: 90%;
            grid-template-columns: 1fr;
            .strokeItem {
                font-size: 1.2em;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .flightInformation {
        .btn {
            margin: 10px;
            display: block;
            border-radius: 44px;
            a {
                font-size: 1.4em;
                span.visible-phone {
                    display: inline-block !important;
                }
                br {
                    display: none;
                }
            }
        }
    }
}