<div class="header">
    <div class="headContainer">
        <div id="logo">
            <a href="https://www.evaair.com/zh-tw/index.html" target="_blank">
                <img class="" src="assets/images/logo.svg" alt="">
            </a>
        </div>
        <div class="navTabs">
            <div class="buttonContainer" id="navToggle">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
            </div>
            <div class="overlay" id="overlay">
                <ul id="menu">
                    <li class="menuBrisbane underLineActive"><a href="javascript:;">慢旅 ‧ 布里斯本</a></li>
                    <li class="menuAircraft"><a href="javascript:;">機型介紹</a></li>
                    <li class="menuFlight"><a href="javascript:;">航班資訊</a></li>
                    <li class="menuStroke"><a href="javascript:;">特選行程</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>