<!DOCTYPE html>
<html lang="en">

<head>
    <title>長榮航空 | 慢旅 ‧ 布里斯本</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale= 1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="結合人文藝術，自然景觀的河畔之城" />
    <meta name="Keywords" content="" />
    <meta name="geo.region" content="tw" />
    <meta name="rating" content="general" />
    <meta property="og:title" content="長榮航空 | 慢旅 ‧ 布里斯本" />
    <meta property="og:description" content="結合人文藝術，自然景觀的河畔之城" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.promotions.com.tw/eva_brisbane/index.html" />
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="627">
    <meta property="og:image" content="https://www.promotions.com.tw/eva_brisbane/assets/images/shareImg.jpg" />
    <link rel="shortcut icon" href="https://www.promotions.com.tw/eva_brisbane/assets/images/favicon.ico" />
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/slick-theme.css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="assets/css/index.css" type="text/css" media="all" />

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
    <script src="assets/js/bubbly-bg.js"></script>
    <script src="assets/js/slick.min.js"></script>
</head>

<body>
    <!-- @@placeholder= content -->

    <!-- @@placeholder= head-js -->
</body>

</html>